// custom.scss

// All of your custom SCSS variables go first
$primary: #c9c30a;
$warning: #eeda1b;
$danger: #b22222;
$light: #f5f5f5;
$dark: #252525;
//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-vue/src/index.scss";

//all other custom scss files or css should be added here
